.form-control {
    background-color: #dad9e5;
    color: #000;    
}
.register-form {
	width: 100%;
}
.p_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.p_61 {
  margin-top: -80px;
  padding-bottom: 50px;
}

.buton_submit {
  float: right;
}
